@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
background: #f9f9f7;
  font-family: Arial, Helvetica, sans-serif, "Source Sans 3";
  overflow-x: hidden;
}

@media screen and (max-width: 768px){
  html,body {
    background: #f9f9f7;
  font-family: Arial, Helvetica, sans-serif, "Source Sans 3";
  overflow-x: hidden !important;
  }
}

/* Custom NavBar color that incorporates neo org colors */

.custom-navbar {
  background-color:  #9acbd6;
  font-family: "Source Sans 3"
}

/* Adjust the color of the navbar links. This adjust the color to be white  */

.custom-navbar .nav-link {
  font-size: var(--text-xl);
  color: white;
  font-family: "Source Sans 3";
  font-weight: 700;

}

@media screen and (max-width: 768px){
  .custom-navbar .nav-link {
    font-size: var(--text-l);
}
}

@media screen and (max-width: 768px){
  .custom-navbar .nav-link {
    margin-left: 0px;
  }
}

.custom-navbar-image{
  margin-left: 100px;
}

@media screen and (max-width: 768px){
  .custom-navbar-image {
    margin-left: 0px;
  }
}


/* Styles header text 
Font Size: 4xl (Tailwind CSS)
Font color: black
font: Source Sans 3
font weight: 700 (bold)
*/

.header {
  font-size: var(--text-6xl);
  font-family: Source Sans 3;
  font-weight: 700;
  margin-top: 125px;
  margin-left: 100px;
}


@media screen and (max-width: 768px){
  .header {
    font-size: var(--text-4xl);
    margin-left: 0px;
    padding-left: 20px;
    font-family: Source Sans 3;
  }
}

/* Styles regular text
Font size: 2xl (Tailwind CSS)
Font color: black
font: Source Sans 3
font weight: 400
*/

.text {
  font-size: var(--text-2xl);
  font-family: Source Sans 3;
  font-weight: 400;
  max-width: 850px;
  word-wrap: break-word;
  margin: 5px;
  margin-left: 100px;
  white-space: "normal";

}

@media screen and (max-width: 768px){
  .text{
    margin-left: 0px;
    padding-left: 20px;
    font-size: var(--text-xl);
    font-family: Source Sans 3;
  
  }
}
  
.homePageButtons {
   display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
  margin-top: 20px;
  gap: 15px
}

@media screen and (max-width: 768px){
  .homePageButtons{
    margin-left: 20px;
    padding-left: 0px;
  }
}

.bottomBarText {
  font-size: var(--text-lg);
  font-family: "Source Sans 3";
  font-weight: 400;
  max-width: 850px;
  word-wrap: "break-word";
}

.inputFormText {
  font-size: var(--text-xl);
  font-family: "Source Sans 3";
  font-weight: 700;
}

.AboutUsImg {
  width: "50%";
  height: "50%"
}



  @media screen and (max-width: 768px){
    .cardCss {
      flex-direction: column;
      gap: 20px;
      padding: 20px;
    }
  }
  
  .cardStyling {
  width: clamp(10rem, -2.857rem + 34.286vw, 28rem);
  height: 180px;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.cardStyling:hover {
  transform: translateY(10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px){
  .cardStyling {
    width: 20rem;
  }
}

.subtitleText {
  font-size: var(--text-lg);
  color: #6b6b6b;
  font-family: Source Sans 3;
  font-weight: 400;
  max-width: 950px;
  word-wrap: break-word;
  position: relative;
  top: 80px;
  margin-left: 100px;
  text-align: left;
  display: flex;
}

@media screen and (max-width: 768px){
  .subtitleText{
    margin-left: 0px;
    font-size: var(--text-md);
    padding-left: 20px
  }
}

.testimonialCard {
    width: clamp(5rem, -22.857rem + 74.286vw, 44rem)
}

 @media screen and (max-width: 768px){
    .testimonialCard {
      width: 22rem;
    }
  }

  .testmonialContainer{
    flex-direction: row;
  }

  @media screen and (max-width: 768px){
    .testimonialContainer {
      flex-direction: column;
    }
  }

  .inputFormContainer {
  min-width: 300px;
  min-height: 140px; 
  padding-top: 1.25rem;    
  padding-right: 1.25rem;  
  padding-left: 1.25rem;   
  padding-bottom: 0.75rem; 
  border: 1px solid #e5e7eb; 
  background-color: #f9fafb;  
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
  border-radius: 0.375rem; 
  }

  @media screen and (max-width: 768px){
    .inputFormContainer{
      min-width: 0px;
      width: 375px;
    }
  }
  .formInput{
  width: clamp(20rem, -15.929rem + 95.81vw, 70.3rem);            
  height: 2.25rem;              
  padding-top: 0.5rem;        
  padding-bottom: 0.5rem;     
  padding-left: 0.5rem;       
  padding-right: 0.5rem;      
  border: 1px solid #9ca3af;  
  border-radius: 0.25rem;     
  font-size: 1.0rem;         
  }

  @media screen and (max-width: 768px){
    .formInput{
      width: 350px;
    }
  }

  .formTextArea{
  width: clamp(20rem, -15.929rem + 95.81vw, 70.3rem);               
  height: 144px;              
  padding-top: 0.75rem;       
  padding-left: 0.5rem;       
  padding-right: 0.5rem;      
  border: 1px solid #9ca3af;  
  border-radius: 0.25rem;     
  font-size: 1.0rem;         
  }

  @media screen and (max-width: 768px){
    .formTextArea{
      width: 350px;
    }
  }

  .aboutText{
    flex-direction: row;
  }

  @media screen and (max-width: 768px){
    .aboutText{
      flex-direction: column;
      text-align: left;
      font-size: var(--text-xl);
      padding-right: 10px;
    }
  }

  .aboutTextParagraph{
  font-size: var(--text-2xl);
  font-family: Source Sans 3;
  font-weight: 400;
  max-width: 850px;
  word-wrap: break-word;
  margin-left: 100px;
  margin: 5px;
  white-space: normal;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 750px;
  padding-right: 100px;
  }

  @media screen and (max-width: 768px){
  .aboutTextParagraph{
    margin-left: 0px;
    padding-left: 20px;
    padding-right: 0;
    font-size: var(--text-xl);
    font-family: Source Sans 3;
    padding-top: 0px;
  
  }
}

.navbar-icon{
  border-radius: 50px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 30%;
  margin-left: 100px;
}

@media screen and (max-width: 768px){
  .navbar-icon{
    margin-left:0px;
  }
}

.navbar-links{
  gap: 15px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px){
  .navbar-links{
    gap: 0px;
  }
}